* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  color: rgb(65, 61, 61);
}

.main-container {
  height: 100vh;
}

.main-inner-container {
  margin: 5px auto;
}

.hero-section {
  width: 100%;
}

.hero-pics-outter-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 30vh;
  background: transparent;
}

.hero-pics-inner-container {
  position: relative;
  width: 200px;
  height: 200px;
  background: #10231f;
  border-radius: 50%;
  overflow: hidden;
}

.hero-pics-inner-container::before {
  content: "";
  position: absolute;
  background: linear-gradient(315deg, #00ccff, #d400d4);
  inset: -10px 25%;
  width: 50%;
  transition: 0.5s;
  animation: animate 4s linear infinite;
}

.hero-pics-inner-container::after {
  content: "";
  position: absolute;
  background: white;
  inset: 6px;
  border-radius: 50%;
  z-index: 1;
}

.hero-pics-inner-container:hover::before {
  inset: -30px 0px;
  width: 100%;
}

@keyframes animate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.hero-pics {
  position: absolute;
  inset: 30px;
  border: 6px solid #070a1c;
  z-index: 3;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.hero-pics img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.5s;
  pointer-events: none;
  z-index: 3;
}

.hero-pics-inner-container:hover .hero-pics img {
  opacity: 0;
}

.hero-pics h2 {
  position: relative;
  font-size: 0.8rem;
  text-align: center;
  color: #431717;
  font-weight: bolder;
  letter-spacing: 0.05rem;
}

.hero-pics span {
  font-weight: 400;
  font-size: 0.6rem;
}

.hero-title {
  text-align: center;
  text-transform: capitalize;
  font-size: 1rem;
  font-weight: bolder;
  width: 100%;
  margin: 0 auto;
}

.hero-text {
  margin: 3px auto 0;
}

.first-para,
.second-para {
  text-align: center;
  font-size: 0.6rem;
  padding-inline: 4px;
}

.first-para {
  font-weight: bolder;
  text-align: justify;
  text-align-last: center;
  margin-bottom: 3px;
}

.social-media-container {
  display: block;
  margin-top: 15px;
}

.social-media {
  list-style: none;
  text-align: center;
  cursor: pointer;
  transition: all 1s ease-in-out;
}

.social-media:hover {
  transform: translateY(15px);
}

.social-media a {
  text-decoration: none;
  color: inherit;
  font-weight: bolder;
  vertical-align: middle;
  cursor: pointer;
}

@media (min-width: 13rem) {
  /* .main-container {
    min-height: 100vh;
  } */

  .main-inner-container {
    margin: 20px auto;
  }

  .hero-section {
    width: 100%;
    padding: 4px;
  }

  .hero-title {
    text-align: center;
    text-transform: capitalize;
    font-size: 1.3rem;
    font-weight: bolder;
    width: 100%;
    margin: 0 auto;
  }

  .hero-text {
    margin: 6px auto 0;
  }

  .first-para,
  .second-para {
    text-align: center;
    font-size: 0.87rem;
    padding-inline: 5px;
  }

  .first-para {
    font-weight: bolder;
    text-align: justify;
    text-align-last: center;
    word-spacing: -1.8px;
    margin-bottom: 5px;
  }

  .social-media-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 20px;
  }
}

@media (min-width: 20rem) {
  .hero-text {
    margin: 6px auto 0;
    max-width: 35rem;
  }

  .social-media-container {
    max-width: 30rem;
    margin: 0 auto;
    padding-inline: 20px;
  }
}

@media (min-width: 32rem) and (max-width: 54rem) {
  .main-inner-container::before {
    content: "";
    width: 100%;
    height: 80vh;
    background: transparent;
    border: 2px solid rgb(26, 26, 26);
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .main-container {
    /* height: 100vh; */
    width: 90%;
    position: relative;
    margin: 0 auto;
  }

  .main-inner-container {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    margin: 0 auto;
  }

  .hero-text {
    margin: 6px auto 0;
    max-width: 45rem;
  }

  .social-media-container {
    max-width: 40rem;
    margin: 0 auto;
    padding-inline: 20px;
  }
}

@media (min-width: 54rem) {
  body {
    background: #070a1c;
    max-height: 100vh;
  }
  .main-container {
    background: linear-gradient(to bottom, #fff, #00ccff);
    width: 50%;
    margin: 5% auto;
    border: #ffffff solid 5px;
    border-radius: 10px;
    height: 70vh;
  }
}
